@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LightFont';
  src: url('./assets/fonts/Cano.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'LightFont', sans-serif !important;
}

:root {
  --yellow: #f4e33b;
  --secondary-yellow: #f8da5a !important;
  --dark-yellow: #f7b03b !important;
  --primary: #185fab !important;
  --light-blue: #3b7dba !important;
  --dark-blue: #175fab !important;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-header-text {
  margin-inline-end: auto !important;
  font-size: 1.4rem !important;
  color: var(--primary) !important;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-collapse .ant-collapse-content {
  color: rgba(0, 0, 0, 0.88) !important;
  background-color: transparent !important;
  color: var(--primary) !important;
  border-top: 1px solid #d9d9d9 !important;
}

.justify-inter-word {
  text-align: justify !important;
  text-justify: inter-word !important;
}